* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-gap: 20px;
}

.container{
    display: grid;
    margin: auto;
    max-width: 1250px;
    width: 90%;
    grid-template-columns: auto;
    grid-template-rows: 10% 25% 45% 10% 10%;
    min-height: 1600px;
}
header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 150px;
    justify-content: center;
    align-content: center;
}
.About_Me_Wrapper{
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 380px;
    height: 90%;
    align-content: center;
}
.About_Me_Content{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    justify-content: center;
    padding: 5px;
}
#About_Me_Header{
    justify-self: center;
}
.Projects_Wrapper{
    display: grid;
    grid-template-rows: 1fr 7fr;
    max-width: 100%;
    min-height: 775px;
    height: 90%;
    justify-content: center;
}
#Projects_Header{
    justify-self: center;
}
.Project_one{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.project_one_overview{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
}
.project_one_skills{
    display: flex;
    margin: 5px;
}
#Project_one_screenshot{
    max-width: 100%;
    max-height: 100%;
}
.contact_info_wrapper{
    display: grid;
    grid-template-rows: 1fr 2fr;
    max-width: 100%;
    min-height: 160px;
    height: 90%;
}
.contact_info_wrapper img{
    height: 120px;
    width: 120px;
}
.contact_info{
    display: flex;
    justify-content: space-evenly;
}
#contact_info_header{
    display: flex;
    justify-self: center;
}
.headshot{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header ul{
    display: flex;
    padding: 5px; 
    flex-direction: row;
    justify-content: space-between;
}