* {
    font: 16px 'Open Sans', sans-serif;
    color: #eee;
}

body {
    background: radial-gradient(circle, rgb(186, 98, 230) 0%, rgb(77, 33, 99) 85%);
}
section{
    margin: 1rem;
}
.header{
    background-color: rgb(123, 40, 165);
}
h1, em{
    font-size: 96px;
}
h3{
    font-size: 48px;
}
.headshot{
    background-color: darkviolet;
}
/* .About_Me_Wrapper {
    background-color: #0f0;
} */
/* .Projects_Wrapper {
    background-color: #00f;
} */
/* .contact_info_wrapper{
    background-color: darkgreen;
} */
/* .footer{
    background-color: blueviolet;
} */